body    {
    background: #FAFAFA;
}

.header {
    width: 100%;
    height: 64px;

    background: #333333;

    display: flex;
    justify-content: center;
    align-items: center;
}

.espacamento__final {
    margin-bottom: 100px;
}

.meme   {
    width: 640px;
    height: auto;

    background: #FFFFFF;

    margin: 30px auto 0 auto;

    border: 1px solid #EAEAEA;

    box-shadow: 1px 2px 3px #EAEAEA;
}

img {
    width: 640px;
}

.titulo {
    font-size: 48px;
    font-weight: bold;

    color: #AA4653;

    margin: 30px;
}

.legenda    {
    color: #000000;

    margin: 0 30px 30px 30px;
}